@font-face {
  font-family: 'norse-bold';
  src: url(../fonts/norse-bold.otf);
}

:root{
  --primary-bg-color: #f9fafb;
  --text-color: #1f2937;
  --input-border: #E5E7EB;
  --input-focus: #c3cff0;
  --input-error: #e6aeae;
  --white: #ffffff;
  --green: #596D48;
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--primary-bg-color);
  color: var(--text-color);
  font-family: var(--system-ui);
  min-height: 100vh;
}

a{
  color: inherit;
}

input,
button{
  font: inherit;
}

input,
label{
  display: block;
}

.sidebar{
  background: url(../img/leaf.jpg) center;
  height: 175px;
  color: var(--white);
  position: relative;
}

.logo-wrapper{
  background:rgba(0, 0, 0, 0.502);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

img{
  display: block;
  max-width: 100%;
  width: 5em;
  height: auto;
}

h1{
  font-family: 'norse-bold';
  font-size: 6rem;
  margin-top: 20px;
}

.sidebar-footer{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
}