@font-face {
  font-family: 'norse-bold';
  src: url(../fonts/norse-bold.otf);
}

:root {
  --primary-bg-color: #f9fafb;
  --text-color: #1f2937;
  --error-text: #FF3131;
  --input-border: #E5E7EB;
  --input-focus: #c3cff0;
  --input-error: #e6aeae;
  --white: #ffffff;
  --green: #596D48;
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-bg-color);
  color: var(--text-color);
  font-family: var(--system-ui);
  min-height: 100vh;
}

a {
  color: inherit;
}

input,
button {
  font: inherit;
}

input,
label {
  display: block;
}

.sidebar {
  background: url(../img/leaf.jpg) center;
  height: 175px;
  color: var(--white);
  position: relative;
}

.logo-wrapper {
  background: rgba(0, 0, 0, 0.502);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.logo-wrapper img {
  display: block;
  max-width: 100%;
  width: 5em;
  height: auto;
}

.logo-wrapper h1 {
  font-family: 'norse-bold';
  font-size: 6rem;
  margin-top: 20px;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
}

.content-header {
  text-align: center;
  padding: 0 48px;
}

.content-header h2 {
  padding: 8px;
}

.content-header h2:last-of-type {
  padding-bottom: 16px;
}

.content-header span {
  font-style: italic;
}

form> :not(:last-child) {
  background: var(--white);
  box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.75);
}

form {
  width: 100%;
}

form h3 {
  text-align: center;
  padding: 16px 0 8px;
  font-size: 1.5rem;
}

.form-inputs {
  display: flex;
  justify-content: center;
  padding: 16px;
  gap: 64px;
}

.form-group {
  position: relative;
}

.form-group label {
  font-size: .9rem;
  letter-spacing: .1rem;
  font-weight: 600;
}

.form-group input {
  outline: none;
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0 20px;
  border: 3px solid var(--input-border);
  border-radius: 4px;
}

.form-group input:focus {
  border: 3px solid var(--input-focus);
  box-shadow: 0px 4px 5px -3px rgba(0, 0, 0, 0.3);
  transition: .5s;
}

.form-group input:invalid {
  border: 3px solid var(--input-error);
  box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.3);
  transition: .5s;
}

.error {
  position: absolute;
  left: 0;
  bottom: -16px;
  font-size: .8rem;
  color: var(--error-text);
  transition: .7s;
}

.form-btn {
  text-align: center;
}

.form-btn button {
  background: var(--green);
  color: var(--white);
  padding: 10px 40px;
  border: none;
  border-radius: 3px;
  margin-top: 32px;
  font-weight: 600;
  cursor: pointer;
}

.form-btn button:hover {
  background: var(--input-focus);
  transition: .3s;
}

.form-btn button:active {
  background: var(--white);
  color: var(--text-color);
  transition: .2s;
}

.form-btn p {
  padding-top: 16px;
  font-size: 1.2rem;
}

.form-btn a {
  text-decoration: none;
  color: var(--green);
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    align-items: center;
  }

  .sidebar {
    width: 45em;
    min-height: 100vh;
    background-size: cover;
  }

  .logo-wrapper {
    height: auto;
    top: 22%;
    padding: 8px;
  }

  .sidebar-footer {
    padding: 16px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .main-content * {
    text-align: left;
  }

  .content-header {
    line-height: 1.9rem;
    width: clamp(400px, 100%, 800px);
  }

  .content-header h2 {
    padding: 0;
  }

  .content-header h2:last-of-type {
    padding: 16px 0 32px;
  }

  form h3,
  form .form-inputs,
  form .form-btn {
    padding-left: 48px;
  }

  .form-inputs {
    justify-content: flex-start;
    gap: 100px;
  }
}